  body{
    background-color: khaki;
  }
  #siteAds {
    grid-area: ads;
    margin-right: 3px;
    margin-left: 200px
  }
  #siteAds img{
    border-radius: 50%;
    width: 25%;
    height: 50%;
    position: absolute;
    /*top: 150px;
    right: 100px;*/
    box-shadow:  7px 7px 20px 0px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8) inset;
    border: 1px solid crimson;
    border-style: solid;
    margin-top: 100px;
    margin-left: -250px;
  }
  h1{
   position: absolute;
   font-size: 16px;
   /*top: 250px;
   right:0px;
   left:1020px;*/
   /*word-break: break-all;*/
   width: 300px;
   font-family:Lato Thin Italic;
   font-weight: 500;
   margin-top: 350px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    left: 0;
  }


  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  h1{
    font-family: Lato Thin;
    font-style: italic;
    font-size: 20px;
  }
  .container{
   /* border-radius: 35px 10px / 20px 10px;*/
   /* border: 1px solid crimson;*/
    min-width: 350px;
    margin-left: 300px;
    margin-top: auto;
    /*box-shadow:  7px 7px 20px 0px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8) inset;*/
    padding: 10px;
    /*border-style: solid;*/
    width: 500px;
    float: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

