  body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  }
  header, footer, article, nav, div {
  padding: 20px;
  }
  #pageHeader {
  grid-area: header;
  }
  #pageFooter {
  grid-area: footer;
  }
  #mainArticle {
  grid-area: article;
  margin-left: -270px;
  margin-right: 100px;
  margin-top: 820px;
  }
  #mainArticle img{
  width: 100%;
  height: 20rem;
  box-shadow:  7px 7px 20px 0px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8) inset;
  border-radius: 35px 10px / 20px 10px;
  border: 1px solid crimson;
  border-style: solid;
  }
  #mainNav {
  grid-area: nav;
  }
  #siteAds {
  grid-area: ads;
  margin-right: 3px;
  margin-left: -100px;
  }
  #siteAds img{
  border-radius: 50%;
  width: 100px;
  /*height: 100px;*/
  position: absolute;
  top: 150px;
  right: 100px;
  box-shadow:  7px 7px 20px 0px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8) inset;
  border: 1px solid crimson;
  border-style: solid;
  margin-top: 820px;
  }
  h1{
   position: absolute;
   font-size: 16px;
   top: 250px;
   right:0px;
   left:1020px;
   word-break: break-all;
   width: 250px;
   font-family: Florence, cursive;
   font-weight: 500;
   margin-top: 850px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    left: 0;
  }


  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }
  html{
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
  }
  #slideshow {
    margin: 50px auto;
    position: relative;
    min-width: 800px;
    max-width: 100%;
    min-height: 800px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
  }

  #slideshow > div {
    position: absolute;
    /*top: 10px;*/
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  #slideshow img{
    width: 100%;
    }

  * {
    box-sizing: border-box;
  }
  .card {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }

  .card img {vertical-align: middle;}

  .card .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

